﻿@model IEnumerable<HumanBrainBox.Data.Models.Contacts.Contact>


<div class="hpanel">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">Contacts</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2">Companies</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>
                <div class="pull-right">
                    <button class=" btn btn-success" data-toggle="modal" data-target="#myModal">Create Contact</button>
                </div>
                            
                <p>lorem ipsum dolor sit amet, </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>Lead Score</th>
                        </tr>
                        </thead>
                        <tbody>
                                        
                        @foreach (var contact in Model)
                        {
                            <tr>
                                <td>@contact.Name</td>
                                <td>555-555-5555</td>
                                <td>@contact.Email</td>
                                <td>@contact.Address</td>
                                <td>@contact.City</td>
                                <td>@contact.State</td>
                                <td>@contact.Zip</td>
                                <td><span class="pie">1/5</span></td>
                            </tr>
                        }
                                        

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body no-padding">

            </div>
        </div>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                
            



        </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->


