﻿@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "Register";
}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Sign Up</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <div class="row">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group col-lg-12">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>                            
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control"/>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>                            
                            <div class="form-group col-lg-12">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control"/>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>                            
                            <div class="form-group col-lg-12">
                                <label asp-for="City"></label>
                                <input asp-for="City" class="form-control"/>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="State"></label>
                                <input asp-for="State" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>                            
                            </div>                            
                            <div class="form-group col-lg-6">
                                <label asp-for="ZipCode"></label>
                                <input asp-for="ZipCode" class="form-control" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>                            
                            </div>                          
                            <div class="form-group col-lg-6">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>                            
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>              
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Register</button>
                            <button a href="@Url.Action("Login","Account")" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @DateTime.Now.Year Copyright HumanBrainBox
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}