﻿@using Microsoft.AspNetCore.Html
@model IEnumerable<HumanBrainBox.Data.Models.Contacts.Contact>

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader", new ViewDataDictionary(ViewData)
{
{ "SubTitle", "Dashboard" },
{ "BreadCrumbs", new List<IHtmlContent>
{
Html.ActionLink("Dashboard", "Index", "Dashboard")
}
}
})

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="pull-right"><a class="btn btn-success" asp-action="Create">Create Contact</a></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.City)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Zip)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>                                    
                                    <th>
                                       Owner
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.City)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Zip)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-1"></div>


    </div>

</div>





</div>






