﻿@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Homer_MVC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <environment names="Development">
        <link rel="stylesheet" href="~/lib_local/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.css" />
        <link rel="stylesheet" href="~/Icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="~/lib_local/metisMenu/dist/metisMenu.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib_local/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
        <link rel="stylesheet" href="~/Icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="~/lib_local/metisMenu/dist/metisMenu.min.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>


    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@
</head>
<body class="landing-page">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Main view  -->
    @RenderBody()

    <environment names="Development">
        <script src="~/lib_local/jquery/dist/jquery.js"></script>
        <script src="~/lib_local/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/iCheck/icheck.js"></script>
        <script src="~/lib_local/metisMenu/dist/metisMenu.js"></script>
        <script src="~/lib_local/sparkline/index.js"></script>
        <script src="~/js/homer.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib_local/jquery/dist/jquery.min.js"></script>
        <script src="~/lib_local/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib_local/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/lib_local/sparkline/index.js"></script>
        <script src="~/js/homer.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
