﻿@using HumanBrainBox.Helpers
<div id="navigation">
    <ul class="nav metismenu" id="side-menu">
        <li class="">
            <a href=""> <span class="nav-label">Agency Database</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="">
                    <a href=""><span class="nav-label">Customer Accounts</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Database</a></li>
                        <li class=""><a href="">Website</a></li>
                        <li class=""><a href="">Pro-Member Trainings</a></li>
                        <li class=""><a href="">Landing Pages</a></li>
                        <li class=""><a href="">Newsletter</a></li>
                        <li class=""><a href="">Search Marketing</a></li>
                        <li class=""><a href="">Social Marketing</a></li>
                        <li class=""><a href="">Member</a></li>
                        <li class=""><a href="">Industry Leader</a></li>
                        <li class=""><a href="">Mastermind Leader</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><span class="nav-label">Customer Service</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Customer Record</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><span class="nav-label">Tech Support</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Open Tickets</a></li>
                        <li class=""><a href="">Closed Tickets</a></li>
                    </ul>
                </li>

                <li class=""><a href="">Products/Services</a></li>
                <li class=""><a href="">Invoices</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span>Account Record</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="">Emails from HBB</a></li>
                <li><a href="">Active Payment</a></li>
                <li><a href="">Past Due Amount</a></li>
                <li><a href="">Products/Services</a></li>
                <li><a href="">Invoices</a></li>
                <li><a href="">Cancel Account</a></li>
                <li><a href="">Refer-a-Friend</a></li>

            </ul>
        </li>
        <li class="">
            <a href=""> <span class="nav-label">Customer Base</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Add Customer Base</a></li>
                <li class=""><a href="">Type of Customer Base</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Image Library</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Company</a></li>
                <li class=""><a href="">Sales Agent</a></li>
                <li class=""><a href="">Database</a></li>
                <li class=""><a href="">Website</a></li>
                <li class=""><a href="">Print</a></li>
                <li class=""><a href="">Social</a></li>
                <li class=""><a href="">Images</a></li>
            </ul>
        </li>
        <li class="">
            <a href="#"><span class="nav-label">Marketing</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Billboards </a></li>
                <li class=""><a href="">By Referral </a></li>
                <li class=""><a href="">Direct Mail </a></li>
                <li class=""><a href="">Door Knocking</a></li>
                <li class=""><a href="">Events </a></li>
                <li class=""><a href="">Flyer Distribution </a></li>
                <li class=""><a href="">Leads </a></li>
                <li class=""><a href="">Lunch </a></li>
                <li class=""><a href="">Direct Mail </a></li>
                <li class=""><a href="">Networking </a></li>
                <li class=""><a href="">PPC </a></li>
                <li class=""><a href="">Radio </a></li>
                <li class=""><a href="">Recruiting </a></li>
                <li class=""><a href="">Search </a></li>
                <li class=""><a href="">Social </a></li>
                <li class=""><a href="">Telemarketing </a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Content Library</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Strangers</a></li>
                <li class=""><a href="">Marketing</a></li>
                <li class=""><a href="">Nurturing</a></li>
                <li class=""><a href="">Sales</a></li>
                <li class=""><a href="">Closing</a></li>
                <li class=""><a href="">Closed</a></li>
                <li class=""><a href="">By Referral</a></li>

            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Nurturing</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Calling Scripts</a></li>
                <li class=""><a href="">Text Messages</a></li>
                <li class=""><a href="">Voice Messages</a></li>
                <li class=""><a href="">Email Templates</a></li>
                <li class=""><a href="">Print Material</a></li>
                <li class=""><a href="">Newsletters</a></li>
                <li class=""><a href="">Social Ads</a></li>
                <li class=""><a href="">Blog Posts</a></li>
                <li class=""><a href="">Branding</a></li>

            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Database</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="">
                    <a href=""><span class="nav-label">Records</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Company</a></li>
                        <li class=""><a href="">Contact</a></li>
                        <li class=""><a href="">Address</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><span class="nav-label">Database Management</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Employee/Contractor</a></li>
                        <li class=""><a href="">Company</a></li>
                        <li class=""><a href="">Professional</a></li>
                        <li class=""><a href="@Url.Action("Index", "ListBuilding")">List Building</a></li>
                        <li class=""><a href="">Networking</a></li>
                        <li class=""><a href="">Contacts</a></li>
                        <li class=""><a href="">Leads</a></li>
                        <li class=""><a href="">By Referral</a></li>
                        <li class=""><a href="">Connection</a></li>
                        <li class=""><a href="">Social</a></li>
                        <li class=""><a href="">Address</a></li>
                        <li class=""><a href="">Farming</a></li>
                        <li class=""><a href="">Direct Mail</a></li>
                        <li class=""><a href="">Recruiting</a></li>
                    </ul>

                </li>
                <li>
                    <a href=""><span class="nav-label">Lead Management</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Add Lead Management</a></li>
                        <li class=""><a href="">Type</a></li>
                        <li class=""><a href="">Open</a></li>
                        <li class=""><a href="">Contacted</a></li>
                        <li class=""><a href="">Nurturing</a></li>
                        <li class=""><a href="">Likely</a></li>
                        <li class=""><a href="">Qualified</a></li>
                        <li class=""><a href="">Agreed</a></li>
                        <li class=""><a href="">Future</a></li>
                        <li class=""><a href="">Not Qualified</a></li>
                        <li class=""><a href="">Declined</a></li>
                        <li class=""><a href="">Not Interested</a></li>
                        <li class=""><a href="">Bad Lead</a></li>
                        <li class=""><a href="">Do Not Call</a></li>
                    </ul>


                </li>
                <li>


                    <a href=""><span class="nav-label">Emails</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Add Campaign</a></li>
                        <li class=""><a href="">Type of Campaign</a></li>
                        <li class=""><a href="">Add Content</a></li>
                        <li class=""><a href="">Content</a></li>
                        <li class=""><a href="">Add Template</a></li>
                        <li class=""><a href="">Email Templates</a></li>
                        <li class=""><a href="">Add Marketing List</a></li>
                        <li class=""><a href="">Buyer</a></li>
                        <li class=""><a href="">Seller</a></li>
                        <li class=""><a href="">Investor</a></li>
                        <li class=""><a href="">Recruiting</a></li>
                    </ul>

                </li>
                <li>
                    <a href=""><span class="nav-label">Follow Up</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Calling</a></li>
                        <li class=""><a href="">Text Messages</a></li>
                        <li class=""><a href="">Voice Messages</a></li>
                        <li class=""><a href="">Email Templates</a></li>
                        <li class=""><a href="">Print Material</a></li>
                        <li class=""><a href="">Newsletters</a></li>
                        <li class=""><a href="">Social Ads</a></li>
                        <li class=""><a href="">Blog Posts</a></li>
                        <li class=""><a href="">Branding</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><span class="nav-label">Reporting</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Lead Management</a></li>
                        <li class=""><a href="">Sales Pipeline</a></li>
                        <li class=""><a href="">Company</a></li>
                        <li class=""><a href="">Sales Agents</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><span class="nav-label">Coaching</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">My Business</a></li>
                        <li class=""><a href="">My Marketing Plan</a></li>
                        <li class=""><a href="">Weekly Report</a></li>
                        <li class=""><a href="">12 Week Reporting</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="">
            <a href=""><span class="nav-label">Websites</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Add New</a></li>
                <li class=""><a href="">name.com</a></li>
                <li class=""><a href="">name.com</a></li>
                <li class="">
                    <a href=""><span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Assign Domain</a></li>
                        <li class=""><a href="">Visit Site</a></li>
                        <li class=""><a href="">Home</a></li>
                        <li class=""><a href="">Import</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Landing Pages</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Add Landing Page</a></li>
                        <li class=""><a href="">Landing Page</a></li>
                        <li class=""><a href="">Landing Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Lead Management</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Website Leads</a></li>
                        <li class=""><a href="">Web Forms</a></li>
                        <li class=""><a href="">Email Campaigns</a></li>
                        <li class=""><a href="">Email Templates</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Users</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Main Profile</a></li>
                        <li class=""><a href="">All Users</a></li>
                        <li class=""><a href="">Add New User</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Network</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">All Network</a></li>
                        <li class=""><a href="">Add New</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Images/Media</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Library</a></li>
                        <li class=""><a href="">Add New</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Menu Bar Pages</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Page Category</a></li>
                        <li class=""><a href="">All Pages</a></li>
                        <li class=""><a href="">Add New Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Blog Posts</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Blog Categories</a></li>
                        <li class=""><a href="">All Blog Posts</a></li>
                        <li class=""><a href="">Add New Post</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Contact Page</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Edit Contact Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Testimonial Page</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Edit Testimonials</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Support</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Email</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Cancel Site</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Cancel</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Mortgage Site</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Started Applications</a></li>
                        <li class=""><a href="">Completed Applications</a></li>
                        <li class=""><a href="">Past Applications</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Real Estate Site</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Saved Properties</a></li>
                        <li class=""><a href="">Visited Properties</a></li>
                        <li class=""><a href="">Viewed Properties</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Landing Pages</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Add New</a></li>
                <li class="">
                    <a href=""><span class="nav-label">General</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Name of Landing Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Products/Services</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Name of Landing Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Biography</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Name of Landing Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Survey</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Name of Landing Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Testimonial</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Name of Landing Page</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href=""><span class="nav-label">Refer-a-Friend</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li class=""><a href="">Name of Landing Page</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Search Marketing</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Keyword Research</a></li>
                <li class=""><a href="">Competitor Research</a></li>
                <li class=""><a href="">Adwords</a></li>
                <li class=""><a href="">Content Marketing</a></li>
                <li class=""><a href="">Basic Search</a></li>
                <li class=""><a href="">Intermediate Search</a></li>
                <li class=""><a href="">Advanced Search</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Social Management</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Facebook</a></li>
                <li class=""><a href="">Twitter</a></li>
                <li class=""><a href="">LinkedIn</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Direct Mail Lists</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Add Lists</a></li>
                <li class=""><a href="">Stranger Mailing Lists</a></li>
                <li class=""><a href="">Lead Mailing Lists</a></li>
                <li class=""><a href="">Client Mailing Lists</a></li>
                <li class=""><a href="">Networking Mailing Lists</a></li>
                <li class=""><a href="">Recruiting Mailing Lists</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Business</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Operating Expenses</a></li>
                <li class=""><a href="">Image Library</a></li>
                <li class=""><a href="">Do Not Call Lists</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Sales Marketing</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Target Market</a></li>
                <li class=""><a href="">Description of Services</a></li>
                <li class=""><a href="">Niche Market</a></li>
                <li class=""><a href="">Position in Market</a></li>
                <li class=""><a href="">Business Cards</a></li>
                <li class=""><a href="">Database</a></li>
                <li class=""><a href="">Website</a></li>
                <li class=""><a href="">Prospecting Lists</a></li>
                <li class=""><a href="">Lead Sources</a></li>
                <li class=""><a href="">Networking Events</a></li>
            </ul>
        </li>
        <li class="">
            <a href=""><span class="nav-label">Sales Agent Sales</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class=""><a href="">Scripts</a></li>
                <li class=""><a href="">Qualifying Questions</a></li>
                <li class=""><a href="">Better Qualified Prospects</a></li>
                <li class=""><a href="">Professional Visibility</a></li>
                <li class=""><a href="">Professional Credibility</a></li>
                <li class=""><a href="">Competitor Research</a></li>
                <li class=""><a href="">Better Services</a></li>
                <li class=""><a href="">Narrower Focus</a></li>
                <li class=""><a href="">Stronger Relationships</a></li>
                <li class=""><a href="">Presentation Skills</a></li>
                <li class=""><a href="">Leave Behind</a></li>
                <li class=""><a href="">Testimonials</a></li>
            </ul>
        </li>
    </ul>
</div>