﻿@using Microsoft.AspNetCore.Html

<div class="row">
    <div class="col-lg-12">
        <div class="normalheader small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <a class="small-header-action" href="">
                        <div class="clip-header">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                    </a>

                    <div id="hbreadcrumb" class="pull-right">

                        <ol class="hbreadcrumb breadcrumb">
                            @if (ViewData["BreadCrumbs"] != null)
                            {
                                foreach (var item in (List<IHtmlContent>) ViewData["BreadCrumbs"])
                                {
                                    <li>
                                        @item
                                    </li>
                                }
                            }
                            <li class="active">
                                <span>@ViewData["Title"]</span>
                            </li>
                        </ol>
                    </div>
                    <h2 class="font-light m-b-xs">
                        @ViewData["Title"]
                    </h2>
                    <small>@ViewData["SubTitle"]</small>
                </div>
            </div>
        </div>
    </div>

</div>

