﻿@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "List Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_PageHeader.cshtml", new ViewDataDictionary(ViewData)
{
{ "SubTitle", "Dashboard" },
{ "BreadCrumbs", new List<IHtmlContent>
{
Html.ActionLink("Dashboard", "Index", "Dashboard")
}
}
})

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    
                    <div class="pull-right btn-group">
                        <button class="btn btn-default">Search</button>
                        <button class="btn btn-success"> Add Record</button>
                    </div>
                </div>

            </div>
            

        </div>

    </div>

</div>
