﻿@model HumanBrainBox.Models.DashboardViewModels.DashboardHomeViewModel

<div class="hpanel">

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#tab-1">Project</a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#tab-2">Messages</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                <p>
                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                    existence in this spot, which was created for the bliss of souls like mine.
                </p>

                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name </th>
                                    <th>Phone </th>
                                    <th>Company </th>
                                    <th>Completed </th>
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">2/45</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">1/5</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                   
                                    
                                    <td>John Smith</td>
                                    <td>0800 1111</td>
                                    <td>Erat Volutpat</td>
                                    <td><span class="pie">4/7</span></td>
                                    <td>75%</td>
                                    <td>Jul 18, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">12/3</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">2/5</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body no-padding">


                <div class="chat-discussion" style="height: auto">

                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a1.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Michael Smith </a>
                            <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                            <span class="message-content">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </span>

                            <div class="m-t-md">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a4.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Karl Jordan </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                            </span>
                            <div class="m-t-md">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a2.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Michael Smith </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                            </span>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a5.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Alice Jordan </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                It uses a dictionary of over 200 Latin words.
                            </span>
                            <div class="m-t-md">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a6.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Mark Smith </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                It uses a dictionary of over 200 Latin words.
                            </span>
                            <div class="m-t-md">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a4.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Karl Jordan </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                            </span>
                            <div class="m-t-md">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a2.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Michael Smith </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                            </span>
                        </div>
                    </div>
                    <div class="chat-message">
                        <img class="message-avatar" src="~/Images/a5.jpg" alt="">
                        <div class="message">
                            <a class="message-author" href="#"> Alice Jordan </a>
                            <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span>
                            <span class="message-content">
                                All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                It uses a dictionary of over 200 Latin words.
                            </span>
                            <div class="m-t-md">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>
