﻿@model HumanBrainBox.Models.DashboardViewModels.DashboardHomeViewModel

    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Profile</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Address</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <i class="fa fa-facebook btn btn-default btn-xs"></i>
                            <i class="fa fa-twitter btn btn-default btn-xs"></i>
                            <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                        </div>
                    </div>
                    <img alt="logo" class="img-circle m-b m-t-md" src="~/Images/profile.jpg">
                    <h3>
                        <a href="">@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</a>
                    </h3>
                    <div class="text-muted font-bold m-b-xs">@Model.ApplicationUser.City, @Model.ApplicationUser.State</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
                    </p>
                    <div class="progress m-t-xs full progress-small">
                        <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-success">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>
                </div>
                <div class="border-right border-left">
                    <section id="map">
                        <div id="map1" style="height: 200px"></div>
                    </section>
                </div>
                <div class="panel-body">

                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat">
                                <span>Projects: </span> <strong>200</strong>
                            </div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat">
                                <span>Messages: </span> <strong>300</strong>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat">
                                <span>Views: </span> <strong>400</strong>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <strong></strong>

                    <p>
                    </p>

                    <p>
                    </p>
                </div>
            </div>
        </div>


    </div>


