﻿@using Microsoft.AspNetCore.Html
@model HumanBrainBox.Models.DashboardViewModels.DashboardHomeViewModel

@{
    ViewData["Title"] = "Dashboard Home";
}

@Html.Partial("_PageHeader", new ViewDataDictionary(ViewData)
{
{ "SubTitle", "Dashboard" },
{ "BreadCrumbs", new List<IHtmlContent>
{
Html.ActionLink("Dashboard", "Index", "Dashboard")
}
}
})

<div class="content">

    <div class="row">
        <div class="col-lg-3">
            @Html.Partial("_ProfileWidget")
        </div>
        <div class="col-lg-9">

            <div class="hpanel">
                <div class="panel-heading h3">
                    Account Information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="h4">
                                Customer Profile ID:
                            </div>

                            <p>HBB5648654</p>
                            <p>Call-In Pin 0000 </p>

                            <div class="h4">
                                Account Email
                            </div>
                            <p>joe@test.com</p>

                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn btn-default">Account Alerts</button>
                                <button class="btn btn-success">Email Payment Reminder</button>
                            </div>


                            <div class="col-md-10 pull-right">
                                <table class="table">
                                    <tr>
                                        <th>Products/Services:</th>
                                        <th>Past Due:</th>
                                    </tr>
                                    <tr>
                                        <td>Database</td>
                                        <td>$189.00 <span class="fa fa-credit-card"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Marketing</td>
                                        <td>$216.00 <span class="fa fa-credit-card"></span></td>
                                    </tr>

                                </table>

                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="hpanel">
                <div class="panel-heading h3">
                    Database Management System
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Free 30 Day Trial: </th>
                                <th>Date Started: </th>
                                <th>End Date: </th>
                                <th>Days Left: </th>
                                <th>Request to Extend Date: </th>
                                <th>Total Monthly Fee: </th>
                            </tr>
                            <tr>
                                <td><button class="btn btn-sm btn-success"> Start </button></td>
                                <td>04/02/2018</td>
                                <td>05/02/2018</td>
                                <td>30</td>
                                <td> <input type="date" /> <button class="btn btn-sm btn-info">Request</button></td>
                                <td>$0.00</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Type: </th>
                                <th>Account #: </th>
                                <th>Monthly Fee: </th>
                                <th>Past Due: </th>
                                <th># of Days: </th>
                                <th>Change: </th>
                                <th><button class="btn btn-success">Add New</button> </th>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control">
                                        <option>Networking Account</option>
                                        <option>Individual Account</option>
                                    </select>
                                </td>
                                <td>UT2341324</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>0</td>
                                <td><button class="btn btn-sm btn-default">Upgrade</button></td>
                                <td><button class="btn btn-sm btn-danger">Cancel</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control">
                                        <option>Individual Account</option>
                                        <option>Networking Account</option>
                                    </select>
                                </td>
                                <td>UT2341324</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>0</td>
                                <td><button class="btn btn-sm btn-default">Upgrade</button></td>
                                <td><button class="btn btn-sm btn-danger">Cancel</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="hpanel">
                <div class="panel-heading h3">
                    Website
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Free 30 Day Trial: </th>
                                <th>Date Started: </th>
                                <th>End Date: </th>
                                <th>Days Left: </th>
                                <th>Request to Extend Date: </th>
                                <th>Total Monthly Fee: </th>
                            </tr>
                            <tr>
                                <td><button class="btn btn-sm btn-success"> Start </button></td>
                                <td>04/02/2018</td>
                                <td>05/02/2018</td>
                                <td>30</td>
                                <td> <input type="date" /> <button class="btn btn-sm btn-info">Request</button></td>
                                <td>$0.00</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Type: </th>
                                <th>Account #: </th>
                                <th>Monthly Fee: </th>
                                <th>Past Due: </th>
                                <th># of Days: </th>
                                <th>Change: </th>
                                <th><button class="btn btn-success">Add New</button> </th>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control">
                                        <option>Real Estate</option>
                                        <option>HUB Listing Service</option>
                                    </select>
                                </td>
                                <td>UT2341324</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>0</td>
                                <td><button class="btn btn-sm btn-default">Upgrade</button></td>
                                <td><button class="btn btn-sm btn-danger">Cancel</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control">
                                        <option>HUB Listing Service</option>
                                        <option>Real Estate</option>
                                    </select>
                                </td>
                                <td>UT2341324</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>0</td>
                                <td><button class="btn btn-sm btn-default">Upgrade</button></td>
                                <td><button class="btn btn-sm btn-danger">Cancel</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="hpanel">
                <div class="panel-heading h3">
                    Trainings
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Free 30 Day Trial: </th>
                                <th>Date Started: </th>
                                <th>End Date: </th>
                                <th>Days Left: </th>
                                <th>Request to Extend Date: </th>
                                <th>Total Monthly Fee: </th>
                            </tr>
                            <tr>
                                <td><button class="btn btn-sm btn-success"> Start </button></td>
                                <td>04/02/2018</td>
                                <td>05/02/2018</td>
                                <td>30</td>
                                <td> <input type="date" /> <button class="btn btn-sm btn-info">Request</button></td>
                                <td>$0.00</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Type: </th>
                                <th>Account #: </th>
                                <th>Monthly Fee: </th>
                                <th>Past Due: </th>
                                <th># of Days: </th>
                                <th>Change: </th>
                                <th><button class="btn btn-success">Add New</button> </th>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control">
                                        <option>Pro Member Trainings</option>
                                    </select>
                                </td>
                                <td>UT2341324</td>
                                <td>$0.00</td>
                                <td>$0.00</td>
                                <td>0</td>
                                <td><button class="btn btn-sm btn-default">Upgrade</button></td>
                                <td><button class="btn btn-sm btn-danger">Cancel</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            @*<div class="hpanel">
                <div class="panel-heading h3">
                    Account Profiles
                </div>
                <div class="panel-body">
                    <div class="row">

                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>*@

        </div>
    </div>
</div>
<environment names="Development,Staging,Production">
    <script src="~/lib/jquery-flot/jquery.flot.js"></script>
    <script src="~/lib/jquery-flot/jquery.flot.resize.js"></script>
    <script src="~/lib/jquery-flot/jquery.flot.pie.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/peity/jquery.peity.min.js"></script>
</environment>
<!--
You need to include this script on any page that has a Google Map.
When using Google Maps on your own site you MUST signup for your own API key at:
https://developers.google.com/maps/documentation/javascript/tutorial#api_key
After your sign up replace the key in the URL below..
-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/peity/jquery.peity.min.js"></script>
    </environment>

    <script type="text/javascript">

        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Options for Google map
            // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            const mapOptions1 = {
                zoom: 14,
                center: new google.maps.LatLng(40.6700, -73.9400),
                // Style for Google Maps
                styles: [
                    {
                        "featureType": "landscape",
                        "stylers": [{ "saturation": -100 }, { "lightness": 65 }, { "visibility": "on" }]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [{ "saturation": -100 }, { "lightness": 51 }, { "visibility": "simplified" }]
                    },
                    {
                        "featureType": "road.highway",
                        "stylers": [{ "saturation": -100 }, { "visibility": "simplified" }]
                    },
                    {
                        "featureType": "road.arterial",
                        "stylers": [{ "saturation": -100 }, { "lightness": 30 }, { "visibility": "on" }]
                    },
                    {
                        "featureType": "road.local",
                        "stylers": [{ "saturation": -100 }, { "lightness": 40 }, { "visibility": "on" }]
                    },
                    { "featureType": "transit", "stylers": [{ "saturation": -100 }, { "visibility": "simplified" }] },
                    { "featureType": "administrative.province", "stylers": [{ "visibility": "off" }] },
                    {
                        "featureType": "water",
                        "elementType": "labels",
                        "stylers": [{ "visibility": "on" }, { "lightness": -25 }, { "saturation": -100 }]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [{ "hue": "#ffff00" }, { "lightness": -25 }, { "saturation": -97 }]
                    }
                ]
            };

            // Get all html elements for map
            const mapElement1 = document.getElementById('map1');

            // Create the Google Map using elements
            const map1 = new google.maps.Map(mapElement1, mapOptions1);
        }


        $("span.pie").peity("pie",
            {
                fill: ["#62cb31", "#edf0f5"]
            });


        $(function () {

            /**
             * Flot charts data and options
             */
            const data1 = [[0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51]];
            const data2 = [[0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59]];

            const chartUsersOptions = {
                series: {
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                },
                grid: {
                    tickColor: "#f0f0f0",
                    borderWidth: 1,
                    borderColor: 'f0f0f0',
                    color: '#6a6c6f'
                },
                colors: ["#62cb31", "#efefef"],
            };

            $.plot($("#flot-line-chart"), [data1, data2], chartUsersOptions);

            /**
             * Flot charts 2 data and options
             */
            const chartIncomeData = [
                {
                    label: "line",
                    data: [[1, 10], [2, 26], [3, 16], [4, 36], [5, 32], [6, 51]]
                }
            ];

            const chartIncomeOptions = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: "#64cc34"

                    }
                },
                colors: ["#62cb31"],
                grid: {
                    show: false
                },
                legend: {
                    show: false
                }
            };

            $.plot($("#flot-income-chart"), chartIncomeData, chartIncomeOptions);


        });
    </script>
}