﻿@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewData["Title"] = "Home";
}

@section styles {
    <style>

        #navbarLogo {
            background-color: white;
        }

        #navbar {
            margin-top: 7px;
        }

        .fixed-panel {
            min-height: 35vh;
            font-size: 14px;
        }

        .heading > a  {
            margin-top: 60px;
        }

    </style>
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")"><img id="navbarLogo" class="navbar-brand" src="images/HBB Database Login Logo - White Background.png" alt="HBB Logo" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" href="#database">Database</a></li>
                <li><a class="page-scroll" href="#websites">Websites</a></li>
                <li><a class="page-scroll" href="#trainings">Trainings</a></li>
                <li><a class="page-scroll" href="#community">Community </a></li>
                <li><a class="page-scroll" href="#pricing">Pricing </a></li>
                <li><a class="page-scroll" href="#forms">Forms</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
             
        </div>
    </div>
</nav>

<header id="page-top">
    <div class="container">
        <div class="heading text-center">
            <h2>
                There is no limit to potential when there is passion towards a meaningful movement. Making human connections through technology is not a slogan it’s our calling.
            </h2>
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-success btn-lg">Start Your Free Trial</a>
        </div>
        @*<div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
                <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <img class="img-animate" src="~/Images/landing/c1.jpg">
                <img class="img-animate" src="~/Images/landing/c2.jpg">
                <img class="img-animate" src="~/Images/landing/c3.jpg">
                <img class="img-animate" src="~/Images/landing/c4.jpg">
                <br />
                <img class="img-animate" src="~/Images/landing/c5.jpg">
                <img class="img-animate" src="~/Images/landing/c6.jpg">
                <img class="img-animate" src="~/Images/landing/c7.jpg">
                <img class="img-animate" src="~/Images/landing/c8.jpg">
            </div>*@
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="hpanel hgreen">
                    <div class="panel-heading hbuilt">
                        <h4>Database</h4>
                    </div>
                    <div class="panel-body fixed-panel">
                        <p>Many small business owners and sales agents choose wisely about where to spend their profits. There are many affordable database services available. Researching the right one for you and investing into that database is a wise decision if you intend to be around for the long run. Our database makes a business run smoother and their customers happier with their experience.</p>
                    </div>
                    <div class="panel-footer text-center">
                        <p><a class="btn-success btn btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hpanel hgreen">
                    <div class="panel-heading hbuilt">
                        <h4>Websites</h4>
                    </div>
                    <div class="panel-body fixed-panel">
                        <p>A website with a database that has a great user interface has the potential to attract additional customers, and general attention. Our responsive designs requires you only to have one website that is coded to adapt to all screen sizes, no matter what the device the website is being displayed on. A business or sales agent with the right website with marketing will make more money.</p>
                    </div>
                    <div class="panel-footer text-center">
                        <p><a class="btn-success btn btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hpanel hgreen">
                    <div class="panel-heading hbuilt">
                        <h4>Trainings</h4>
                    </div>
                    <div class="panel-body fixed-panel">
                        <p>Most managers recognize when their employees attend training sessions they do their jobs more effectively and efficiently. When employees take time out of their busy schedule to sharpen their skills. They will prepare themselves to increase their performance and overall success. We provide free ongoing training's how someone is able to use our products and services to grow their customer base and revenue.</p>
                    </div>
                    <div class="panel-footer text-center">
                        <p><a class="btn-success btn btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hpanel hgreen">
                    <div class="panel-heading hbuilt">
                        <h4>Search Marketing</h4>
                    </div>
                    <div class="panel-body fixed-panel">
                        <p>Our agency has many customers who want to dig deeper into what's happening in search marketing. We provide a search engine marketing community for all to attend webinar and live marketing trainings, and to network with other like-minded professionals. Get started by downloading our free checklist of best practices in search marketing.</p>
                    </div>
                    <div class="panel-footer text-center">
                        <p><a class="btn-success btn btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="database" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="text-success">Attract, Retain, Convert </span>More Clients</h2>
                <p>We have learned that an database management system is not unique to a industry, company, business owner, or sales agent. The Success using a database management system is determined by the daily use of predictable, repeatable, and simple actions. The financial reward for a business using an database is to save time, earn revenue, have control, provide better customer service, networking, refer/receive referrals, retain more clients, and much much more. </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Basic
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$16</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Standard
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$22</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Premium
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$160</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Prestige
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$260</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section id="websites">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="text-success">Websites and Database</span></h2>
                <p>Whether you are just starting your career or you are a seasoned professional there is one fact you can not argue with - you must have a website for your business with a database management system. After all, these two marketing channels are a very good way for you get clients and at a high return-on-investment.</p>

                <p>Our template websites are designed to take data and putting it into a visual display to what you are presenting to your visitors. The rich imagery help them better remember the point you are making and keep them interested in learning more. Think about it - the fact that the human brain processes visual elements 60,000 faster than text and 90 percent of the information transmitted to the human brain is visual. It makes you wonder if a text heavy website might be causing your visitors to miss your message. </p>

                <p>We regularly update our template websites to make sure they are top notch quality. You’ll obtain the knowledge and skills that will allow you to change the color and typography on our template websites. In the template website dashboard you can find our easy-to-use lead management database for you to use to convert leads into clients. </p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Basic
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$16</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Standard
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$22</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Premium
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$160</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Prestige
                    </li>
                    <li class="pricing-desc">
                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                    </li>
                    <li class="pricing-price">
                        <span>$260</span>
                    </li>
                    <li>
                        Dashboards
                    </li>
                    <li>
                        Projects view
                    </li>
                    <li>
                        Contacts
                    </li>
                    <li>
                        Calendar
                    </li>
                    <li>
                        AngularJs
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="#">Signup today</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section id="trainings" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-success">Special icons </span>for your app</h2>
                <p>Lorem Ipsum available, but the majority have suffered alteration euismod. </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-airplay text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-science text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-display1 text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-global text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-battery text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-users text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-ticket text-success icon-big"></i></h4>
                <strong>Lorem Ipsum available</strong>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
        </div>

    </div>
</section>

<section id="community">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Our team </span>support you</h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>

        <div class="row m-t-lg text-center">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Images/a2.jpg" class="img-circle img-small" alt="">
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Images/a5.jpg" class="img-circle" alt="">
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Images/a3.jpg" class="img-circle img-small" alt="">
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
        </div>
        <div class="row m-t-lg text-center">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Images/a7.jpg" class="img-circle img-small" alt="">
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Images/a8.jpg" class="img-circle" alt="">
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Images/a9.jpg" class="img-circle img-small" alt="">
                    <h4><span>User</span> name</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>

                </div>
            </div>
        </div>

    </div>
</section>


<section id="pricing" class="bg-light">

    <div class="content">

        <div class="row">
            <div class="col-lg-12">

                <div class="text-center m-b-xl">
                    <h3>Best pricing for your app</h3>

                    <p>
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' and web page editors now use Lorem Ipsum as their default model text, will uncover many web sites still in their infancy.
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="hpanel plan-box hyellow">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Basic plan</h4>
                            </div>
                            <div class="panel-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                Features
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Dashboard
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Project view
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Contacts
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> Calendar
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> AngularJS version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> Meteor version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> Support
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>

                                <h3 class="font-bold">
                                    $10/month
                                </h3>
                                <a href="#" class="btn btn-warning btn-sm m-t-xs">Select plan</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="hpanel plan-box hgreen active">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Standard plan</h4>
                            </div>
                            <div class="panel-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                Features
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Dashboard
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Project view
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Contacts
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Calendar
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> AngularJS version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> Meteor version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> Support
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>

                                <h3 class="font-bold">
                                    $20/month
                                </h3>
                                <a href="#" class="btn btn-success btn-sm m-t-xs">Select plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="hpanel plan-box hblue">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Premium plan</h4>
                            </div>
                            <div class="panel-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                Features
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Dashboard
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Project view
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Contacts
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Calendar
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> AngularJS version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Meteor version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-square-o"></i> Support
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>

                                <h3 class="font-bold">
                                    $30/month
                                </h3>
                                <a href="#" class="btn btn-info btn-sm m-t-xs">Select plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="hpanel plan-box hred">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Prestige plan</h4>
                            </div>
                            <div class="panel-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                Features
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Dashboard
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Project view
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Contacts
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Calendar
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> AngularJS version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Meteor version
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-check-square-o"></i> Support
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </p>

                                <h3 class="font-bold">
                                    $40/month
                                </h3>
                                <a href="#" class="btn btn-danger btn-sm m-t-xs">Select plan</a>
                            </div>
                        </div>
                    </div>


                </div>

                <hr class="m-b-xl" />

                <div class="row">
                    <div class="col-sm-3">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Basic plan</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="pe pe-7s-cup big-icon text-warning"></i>
                                <h4 class="font-bold">
                                    $10/month
                                </h4>

                                <p class="text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                                <a href="#" class="btn btn-warning btn-sm">Select basic plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="hpanel plan-box active">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Standard plan</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="pe pe-7s-science big-icon text-success"></i>
                                <h4 class="font-bold">
                                    $20/month
                                </h4>

                                <p class="text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                                <a href="#" class="btn btn-success btn-sm">Select standard plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Premium plan</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="pe pe-7s-refresh-cloud big-icon text-info"></i>
                                <h4 class="font-bold">
                                    $30/month
                                </h4>

                                <p class="text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                                <a href="#" class="btn btn-info btn-sm">Select premium plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center">
                                <h4 class="font-bold">Prestige plan</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="pe pe-7s-server big-icon text-danger"></i>
                                <h4 class="font-bold">
                                    $40/month
                                </h4>

                                <p class="text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Select prestige plan</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</section>
<section id="clients">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Our best</span> clients</h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-6 col-md-offset-3">

                <div class="row">

                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>
                    <div class="col-md-6">
                        <div class="client">Company logo</div>
                    </div>

                </div>


            </div>

        </div>


    </div>
</section>
<section id="contact" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Contact with us</span> anytime</h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-4 col-md-offset-3">

                <form class="form-horizontal" role="form" method="post" action="#">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your full name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="message" placeholder="Your message here..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Send us a message" class="btn btn-success">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 text-left">
                <address>
                    <strong><span class="navy">Company name, Inc.</span></strong><br />
                    601 Street name, 123<br />
                    New York, De 34101<br />
                    <abbr title="Phone">P:</abbr> (123) 678-8674
                </address>
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>


    </div>
</section>

@section Scripts {
    <script type="text/javascript">

        $(function () {

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
            });

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

        });
    </script>
}